* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    text-align: center;
}

.container-eventos {
    margin-top: 75px;
}

.mySlides {
    display: none;
    width: 100%;
    height: 500px;
    transition: transform 0.5s ease-in-out;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

.fade:not(.show) {
    opacity: 1;
}

.slider {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 250px;
    width: auto;
    padding: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}

.prev:hover,
.next:hover {
    color: black;
    background-color: white;
    transition: 0.6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.text {
    color: white;
    font-size: 16px;
    padding: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: black;
    opacity: 0.9;
    margin-top: -64px;
}

.dots {
    margin-top: 15px;
    margin-bottom: 50px;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
    margin-top: 10px;
}

.active,
.dot:hover {
    background-color: #717171;
}

#caminho {
    text-align: left;
    margin-left: 15%;
    margin-bottom: 50px;
    margin-top: 25px;
}

#caminho_links {
    text-decoration: none;
}

.eventos-carta {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    transition: opacity 0.6s ease-in-out;
    opacity: 0;
}

.eventos-carta:not(.hidden) {
    opacity: 1;
}

.eventos-carta:hover,
.eventos-carta:hover #carta_border {
    background-color: rgb(238, 238, 238);
}

#carta_border {
    border: none;
}

#img_carta_eventos {
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 25px;
}

#botao_evento {
    margin-top: 25px;
    margin-bottom: 25px;
    user-select: none;
}


@media only screen and (max-width: 768px) {

    .prev,
    .next,
    .text {
        font-size: 14px
    }

    .text {
        margin-top: -60px;
    }

    #datas {
        font-size: 9pt;
    }

}