@font-face {
    font-family: "Eras Demi ITC";
    src: url(../fonts/eras-demi-itc/ERASDEMI.TTF);
    font-weight: 600;
    font-style: normal;
}

footer {
    z-index: -1;
    font-family: "Eras Demi ITC";
}