@font-face {
    font-family: "Eras Demi ITC";
    src: url(../fonts/eras-demi-itc/ERASDEMI.TTF);
    font-weight: 100;
    font-style: normal;
}

/* COLORS */
.navbar {
    --color-main: rgba(255, 255, 255, 0.4);
    --color-light-blue: #50a7c7;
    --color-dark-blue: #3a8cbc;
}

.navbar {

    position: absolute;
    top: 0px;
    /* width: 100%; */
    height: 60px;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-main);
    backdrop-filter: blur(5px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    /*Shadow Box*/
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

.navbar .nav-container li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
}

.navbar .nav-container a {
    display: flex;
    align-items: center;
    /* transition-duration: 200ms; */
    text-decoration: none;
    color: rgb(69, 69, 69);
    font-weight: 500;
    font-size: 1rem;
    padding: 0.7rem;
    height: 100%;
}

.navbar .nav-container a:hover {
    color: rgb(131, 131, 131);
    border-bottom: 2px solid var(--color-light-blue);
}

.navbar .nav-container a.active {
    border-bottom: 2px solid var(--color-dark-blue);
}

.nav-container {
    position: relative;
    height: 100%;
    width: 100svw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-container .checkbox {
    /* position: absolute; */
    display: none;
    height: 32px;
    width: 32px;
    /* top: 20px; */
    left: 20px;
    margin-right: 4.5rem;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    /* top: 17px; */
    left: 20px;
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: rgb(39, 39, 39);
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

/*mid-nav*/

.nav-mid,
.nav-left,
.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nave {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    justify-self: center;
    /*font-size: 1.2rem;*/
    font-size: 1rem;
    color: rgb(39, 39, 39);
}

.nave ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

.navbar .menu-items {
    height: 300px;
    position: absolute;
    width: 100%;
    top: 70px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
}

.navbar .menu-items li {
    margin-bottom: 0.5rem;
}

.navbar .menu-items li a {
    font-size: 1.5rem;
    color: rgb(39, 39, 39);
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.logo {
    display: flex;
    align-self: center;
    color: rgb(39, 39, 39);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    position: absolute;
    min-width: 160px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
}

.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.search {
    background-color: transparent;
    color: rgb(39, 39, 39);
    border: 0;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.modal-search {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.b-modal {
    background-color: transparent;
    border: 0;
    margin-left: 1rem;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 80px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal-visible {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
}

.modal-content input {
    width: 70%;
}

@media only screen and (max-width: 990px) {
    .search {
        display: none;
    }

    .nav-container .checkbox {
        display: flex;
    }

    .nav-container .hamburger-lines {
        display: flex;
    }

    .nav-mid {
        display: none;
    }

    .nav-left {
        width: 50px;
    }
}
