/*DEFINED VARIABLES*/
body {
    --color-subtitle: #959595;
    --color-main-blue: #3a8cbc;
    --color-dark-blue: #4685a3;
    --color-main-button: #3f9dc4;
    --color-main-button-hover: #34bbeb;
    --color-light-blue: #8ab4c5;
    --color-grey: #c3c3c3;
    --color-grey-dark: #8a8a8a;
    --color-grey-light: #d9d9d9;
    padding-top: 50px;
}

/*scroll bar*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    margin: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: 3px;
    background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
}




.highlight {
    background-color: rgba(255, 208, 67, 0.649);
    font-weight: bold;
}





#tc-section {
    width: 60svw;
    margin-left: auto !important;
    margin-right: auto !important;
}

.text-section {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.tc-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    margin-top: 2.5rem;
}

.desc-title {
    font-weight: 400;
    color: var(--color-subtitle);
    margin-top: 1rem;
    font-size: 1.1rem;
}


/*Formulário Pedidos*/
.form-request {
    margin-left: auto;
    margin-right: auto;
    width: 60svw;
    margin-bottom: 25svh;
}

.form-request {
    border: 4px solid var(--color-dark-blue);
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    width: 50%;
}

.upload-area {
    transition-duration: 200ms;
    border: 2px dashed var(--color-light-blue);
    border-radius: 0.2rem;
    padding: 20px;
    text-align: center;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.upload-area.dragover {
    font-size: 105%;
    border-radius: 1rem;
    border-width: 0.2rem;
    background-color: rgb(220, 239, 255);
    border-color: #4685a3;
    /* LightSkyBlue - Change to your preferred color */
}

#uploadContent {
    height: 100%;
    margin-top: 35%;
    margin-bottom: auto;
}

input[type="file"] {
    display: none;
}

label:first-child {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 0.4rem;
    margin-top: 1.5rem;
}

.button-container {
    width: 100%;
    text-align: right;
    /* Align the button to the right */
    margin-top: 2.5rem;
    /* Space above the button */
}

form .column textarea {
    overflow-y: scroll;
    resize: none;
}

button {
    border: 0;
    background-color: white;
}

#request-submit {
    transition-duration: 450ms;
    background-color: var(--color-main-button);
    padding: 1rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    border: 0;
    color: white;
    border-radius: 3rem;
    /* Span the full width of the form */
}

#request-submit:hover {
    background-color: var(--color-main-button-hover);
}

form .column input,
textarea {
    border: 2px solid black;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    width: 90%;
}

#image-pickup {
    color: #34bbeb;
}

#image-pickup:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*Image Upload*/
#uploadContainer {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
}

#uploadArea {
    display: block;
    width: 100%;
    height: 100%;
}

#preview {
    position: relative;
    overflow: hidden;
    height: 100%;
}

/* Adiciona estilos para o botão "X" */
#cancelButton {
    position: absolute;
    top: 1rem;
    right: 0.3rem;
    cursor: pointer;
}

/* Adiciona estilos para o botão "X" */
#cancelButton {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #95959568;
    background-image: url('../images/paulo/close-icon.png');
    background-size: contain;
}

/* Adiciona estilos para ajustar o tamanho da imagem na preview */
#previewContainer img {
    justify-self: center;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 0;
    height: auto;
    /*object-fit: contain;*/
    /* Garante que a imagem é totalmente visível */
    display: block;
    /* Remove margens indesejadas */
}


/* PEDIDOS CONTAINER */
.pedidos-container {
    margin-left: auto;
    margin-right: auto;
    width: 80svw;
    margin-bottom: 8svh;
    /*border: 1px solid var(--color-dark-blue);*/
}

/* TOP BAR */
.top-bar {
    width: 100%;
    height: 2rem;
    padding: 2rem 1rem;
    /* Removi o padding duplicado */
    border-bottom: 1px solid var(--color-light-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Adicionei para centralizar verticalmente */
}

/* ICONS TRAY */
.top-bar .icons-tray {
    line-height: 2rem;
}

.icon img {
    width: 2rem;
    transition-duration: 450ms;
    filter: invert(21%) sepia(0%) saturate(445%) hue-rotate(193deg) brightness(90%) contrast(84%);
}

#icon-list {
    width: 2.5rem;
}

.icon:hover img {
    transform: scale(105%);
    filter: invert(78%) sepia(0%) saturate(0%) hue-rotate(156deg) brightness(89%) contrast(87%);
}



/* SEARCH BAR */
.top-bar .search-bar {
    line-height: 2.4rem;
    display: flex;

    /* Adicionei para alinhar o input e o botão na horizontal */
}

.top-bar .search-bar input {
    transition-duration: 600ms;
    margin-right: 5px;
    padding: 0.1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1px solid var(--color-subtitle);
    margin-right: 0;
}

.top-bar .search-bar input:focus {
    border-radius: 0;
    outline: 0;
}

.top-bar .search-bar #search-btn {
    transition-duration: 450ms;
    border: 1px solid var(--color-subtitle);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0rem 0.6rem;
    border-left: 0;
    background-color: var(--color-grey-light);
}

.top-bar .search-bar #search-btn:hover {
    background-color: var(--color-grey);
}


/* CARD */
.pedido-card {
    border-radius: 2rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    height: 15rem;
    /* Set a fixed height for the card */
    overflow: hidden;
    /* Hide any overflow content */
    position: relative;
    /* Set position to relative */
    margin-bottom: 1rem;
    /* Add margin at the bottom for spacing */
}

.pedido-foto {
    padding: 0;
    height: 100%;
    width: 15rem;
}

.pedido-foto img {
    height: 100%;
    width: 100%;
    padding: 0;
    /* width: auto; */
    object-fit: cover;

}

/* LIST CARD */
.list-card {
    display: flex;
    align-items: center;
    height: 15rem;
    width: 100%;
    border-radius: 0;
    margin: 0.5rem 0;
}

.list-card .pedido-info {
    padding: 1.5rem 1rem;
    width: 80%;
    position: absolute;
    /* Set position to absolute */
    top: 0;
    /* Position at the top of the relative container */
    /* Position at the left of the relative container */
    right: 0;
    /* Position at the right of the relative container */
    bottom: 0;
    /* Position at the bottom of the relative container */
}

.list-card .pedido-info .card-user {
    position: absolute;
    font-size: 95%;
    font-style: italic;
    color: var(--color-grey-dark);
    bottom: 0;
    right: 0;
    padding-right: 1rem;
}

.list-card .pedido-info .card-title {
    margin-top: 0;
    white-space: nowrap;
    /* Prevent title from wrapping to a new line */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Display an ellipsis (...) for overflow text */
}

.list-card .pedido-info .card-desc {
    margin-top: 0.8rem;
}

.pedidos-list {
    overflow-y: scroll;
    height: 90svh;
}





/* GRID CARD */
.pedidos-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0 1rem;
}

.vertical-card {
    position: relative;
    width: 20svw;
    height: auto;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.vertical-card .pedido-foto {
    width: 100%;
    height: 15rem;
    overflow: hidden;
}

.vertical-card .pedido-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vertical-card .pedido-info {
    padding: 1rem;
    position: relative;
    height: 32svh;
}

.vertical-card .pedido-info .card-title {
    margin-top: 0;
}

.vertical-card .pedido-info .card-desc-wrapper {
    position: relative;
    padding-bottom: 1rem;

}

.vertical-card .pedido-info .card-desc-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9svh;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0));
    /*background-size: 100% 100%;*/
    /*background-position: 0 100%;*/
}

.vertical-card .pedido-info .card-desc {
    height: 9svh;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    color: var(--color-grey-dark);
}

.vertical-card .pedido-info .card-user {
    position: absolute;
    bottom: 0.1rem;
    left: 1rem;
    font-size: 90%;
    font-style: italic;
    color: var(--color-grey-dark);
}



.pageBar{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}







/*REsponsive*/
@media only screen and (max-width: 1080px) {
    .pedidos-container {
        width: 100svw;
    }
}
