* {
    scroll-behavior: smooth;
}

.qualquer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adicione isso ao seu arquivo CSS ou bloco de estilo */
.card {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;

}

.avaliacao{
    background-color:#37bced;
    color: #FFFF;
    border-radius: 5px;


}

.avali{

    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


    margin:3em 0.5em 0 0.5em;
}

.card img {
    max-width: 200px;
    max-height: 200px;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
    background-color: #B4E6FF;
}

/* Scroll to top */
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #37bced;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
    width: 50px;
    height: 50px;
}

#myBtn:hover {
    background-color: #237391;
    transition: 0.5s ease-in-out;
}

#leiriBookRow {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
#leiriBookAvalia {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


#leiriBookTitulo {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


#leiriBookHistoria {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#leiriBookDescricao {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


#leiriBookEquipa {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#leiriBookEq {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

